[user]
	name = usagrada
#	email = usagrada@users.noreply.github.com
	email = usagrada.kind@gmail.com

[pull]
	ff = only
	rebase = false
[init]
	defaultBranch = main
[includeIf "gitdir:~/workspace/university/lab/"]
  path = ~/.gitconfig.lab
[core]
  excludesfile = ~/.gitignore_global
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  line-numbers = true
  navigate = true
  side-by-side = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
